.facilities {
    margin: 0;
    padding: 0;
    list-style: none;


    .li-container {
      @include border-all;
    }

    li {
        padding: 2px;
    }

    li:nth-of-type(even) {
      //background-color: #fbfbfb;
    }

    li span {
        display: block;
        text-align: center;
        text-transform: capitalize;

        &[class*="icon-"]{
            padding: 24px 0;
            font-size: 24px;
            transition: all 0.15s ease;
            height: 72px;
            &:hover {
                font-size: 30px;
            }
        }

        &:nth-of-type(2) {
          padding-bottom: 12px;
        }
    }
}

.special {
    background-color: beige;
    padding: 5px;
    margin-top: 12px;
}

.media-body{
    position: relative;
}

.media-heading{
    position: relative;
    top: 12px;
}

.single .location {
    font-size: 14px;
    padding: 12px 24px;
    border-radius: 20px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 17px;
    background-color: #fff;
    @include border-all;
    span[class*="icon-"] {
        position: relative;
        top: 2px;
        right: 4px;
    }
}

.contact-list {
    list-style:none;
    margin:0;
    padding:0;
    margin-top: 12px;
    font-size: 16px;
    span[class *="icon-"] {
        margin-right: 6px;
        position: relative;
        top: 2px;
    }

    li {
      padding-bottom: 10px;
      margin-bottom: 10px;
      @include border-bottom;
    }
}

.prices {
    .regular-price {
      font-weight: 700;
      font-size: 16px;
    }
    .weekend-price {
      margin-left: 10px;
    }
}

.search-container {
  padding: 15px;
  background-color: #f5f5f5;
}

.listing-tile {
  padding-bottom: 15px;
  margin-bottom: 15px;
  @include border-all;
  a:hover {
    text-decoration: none;
  }
  h4 {
    color: $black;
    font-size: 16px;
    line-height: 1.4;
  }
  .location {
    font-size: 14px;
  }
  img {
    width: 100%;
  }
  span[class*="icon-"] {
    margin-right: 5px;
    position: relative;
    top: 2px;
  }

}
.listing-details {
  padding: 10px 15px 10px;
}

.banner {
  position: relative;
  height: 244px;
  background-image: url('uploads/ga_bg1x.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  h1 {
    position: absolute;
    bottom: 15px;
    left: 30px;
    color: #fff;
    text-shadow: 1px 1px 5px $black;
  }
}

.img-container {
  height: 251px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  @include border-bottom;
  img {
    width: 100%;
  }
}

.description {
  max-width: 300px;
}
