extends layout.jade
block content
    h1 Add a new Cottage
    .row
      .col-md-4
        form(class="form" action = '/listing', method = 'post')
          .form-group
            label Name
            input(type='text', name = 'name' class="form-control" required)
          .form-group
            label Location
            input(type='text', name = 'location' class="form-control" required)
          .form-group
            label Address
            textarea(name = 'address' class="form-control" placeholder ="Address")
          .form-group
            label Email address
            input(type='email', name = 'email' class="form-control" placeholder ="Email")
          .form-group
            label Contact no.
            input(type='number', name = 'contact' class="form-control" placeholder ="Contact no." required)
          .form-group
            label Regular Price
            input(type='number', name = 'price' class="form-control" placeholder ="Price" required)
          .form-group
            label Weekend Price
            input(type='number', name = 'price_wknd' class="form-control" placeholder ="Price for Weekend (if applicable)")
          .form-group
            label Toilet Type:
            select(name="menu_type" class="form-control")
              option(value="Western") Western
              option(value="India") Indian
              option(value="Both") Both
          .form-group
            label Menu Type:
            select(name="menu_type" class="form-control")
              option Veg
              option Non-veg
          .form-group
            label Food Available: 
            select(name="hasFood" class="form-control")
              option(value="true") Yes
              option(value="false") No
          .form-group
            label Wifi Available:
            select(name="hasWifi" class="form-control")
              option(value="true") Yes
              option(value="false") No
          .form-group
            label AC room Available:
            select(name="hasAC" class="form-control")
              option(value="true") Yes
              option(value="false") No
          .form-group
            label Pickup Available:
            select(name="hasPickup" class="form-control")
              option(value="true") Yes
              option(value="false") No
          .form-group
            label Guide Available:
              select(name="hasGuide" class="form-control")
                option(value="true") Yes
                option(value="false") No
          .form-group
            label Conference room Available:
            select(name="hasConference" class="form-control")
              option(value="true") Yes
              option(value="false") No
          .form-group
            label Event facility?:
            select(name="hasEvent" class="form-control")
              option(value="true") Yes
              option(value="false") No
          .form-group
            label Alcohol available:
            select(name="hasAlcohol" class="form-control")
              option(value="true") Yes
              option(value="false") No
          .form-group
            label Speciality
            input(type='text', name = 'special' class="form-control" placeholder ="Speciality")
          .form-group
            label Other features
            input(type='text', name = 'features' class="form-control" placeholder ="Other features")
          .form-group
            label Link to image
            input(type='text', name = 'image' class="form-control" placeholder ="link to image")
           
          input(type='submit' class='btn btn-primary')
