extends layout.jade
block content
    h1 Add a new Cottage
    .row
      .col-md-4
        form(class="form" action = '/listing', method = 'post')
          .form-group
            label Name
            input(type='text', name = 'name' class="form-control" required)
          .form-group
            label Location
            input(type='text', name = 'location' class="form-control" required)
          .form-group
            label Address
            textarea(name = 'address' class="form-control")
          .form-group
            label Email address
            input(type='email', name = 'email' class="form-control")
          .form-group
            label Contact no.
            input(type='number', name = 'contact' class="form-control" required)
          .form-group
            label Regular Price
            input(type='number', name = 'price' class="form-control" required)
          .form-group
            label Weekend Price
            input(type='number', name = 'price_wknd' class="form-control")
          .form-group
            label Toilet Type:
            select(name="menu_type" class="form-control")
              option(value="western") Western
              option(value="indian") Indian
          .form-group
            label Menu Type:
            select(name="menu_type" class="form-control")
              option(value="veg") Veg
              option(value="non-veg and veg") Non-veg and Veg
              option(value="na") Not applicable
          p Please tick if available
          .checkbox
            label
              input(type="checkbox" name="hasFood")
              span Food
          .checkbox
            label
              input(type="checkbox" name="hasWifi")
              span WiFi
          .checkbox
            label
              input(type="checkbox" name="hasAC")
              span AC room
          .checkbox
            label
              input(type="checkbox" name="hasPickup")
              span Pickup
          .checkbox
            label
              input(type="checkbox" name="hasGuide")
              span Guide
          .checkbox
            label
              input(type="checkbox" name="hasConference")
              span Conference Rooms
          .checkbox
            label
              input(type="checkbox" name="hasEvent")
              span Events
          .checkbox
            label
              input(type="checkbox" name="hasAlcohol")
              span Alcohol
          .form-group
            label Speciality
            input(type='text', name = 'special' class="form-control")
          .form-group
            label Description
            input(type='text', name = 'description' class="form-control")
          .form-group
            label Attractions nearby
            input(type='text', name = 'attractions' class="form-control")
          .form-group
            label Link to image
            input(type='text', name = 'image' class="form-control" placeholder ="http://link-to-image.com")
          .form-group
            label Join Date
            input(type='date', name = 'join_date' class="form-control")
          .form-group
            label Renewal Date
            input(type='date', name = 'last_renew' class="form-control")
          .form-group
            label Status
            select(name="status" class="form-control")
              option(value="active") Active
              option(value="inactive") Inactive
          input(type='submit' value="Add Listing" class='btn btn-primary')
