extends layout.jade
block content
    h1 Update Database
    .row
      .col-md-8
        .col-md-6
          p Before uploading delete all listings using this link
          p
            a(href="/deleteAllListings" class="btn btn-default") Delete listings
        .col-md-6
          form(action = '/csv/upload', method = 'post' enctype='multipart/form-data')
            input(type="file" name="database" required)
            input(type='submit' class='btn btn-primary')
            
          span!=uploadMessage
