extends layout.jade
block content
    h1 Login to Goalibag
    .col-md-4
        form(class="form" aciton="/login" method="post")
            .form-group
                label Email
                input(type='email' name='email' class='form-control' placeholder='email' required)
            .form-group
                label Password
                input(type='password' name='password' class='form-control' placeholder='password' required)
            input(type='submit' name='Login' class='btn btn-default')
            
            p!= message
